###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=16f253c37233559739102bc3fcdc94c7
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672