/* Flash Message */

.flash-message {
  position: relative;
  margin: 5px 0;
  padding: 10px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.flash-message > .close-parent {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.1rem;
}

.flash-message > .close-parent:hover {
  cursor: pointer;
}

/* Flash Message Notice / Info */

.flash-message.info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708F;
}

/* Flash Message Success */

.flash-message.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

/* Flash Message Error */

.flash-message.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/* Flash Message Warning */

.flash-message.warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}